<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{static "css/dnews.css"}">
</head>
<style>
    .container{
        background-color: orchid;
        margin-top: 50px;
        border-radius: 30px;
    }
    body{
        background-color: cyan;
    }
</style>

<body>
  <div class="container">
  <div class="jumbotron" align="center">
    <div class="container">

  <h1>welcome to durganewsportal</h1>
<a class="btn btn-primary" href="/movies" role="button">Movie News</a>&nbsp&nbsp&nbsp
<a class="btn btn-primary" href="/sports" role="button">Sports News</a>&nbsp&nbsp&nbsp
<a class="btn btn-primary" href="/politics" role="button">Politics News</a>&nbsp&nbsp&nbsp

</div>
</div>
</div>
</body>
</html>
